/*
Sticker Dimensions: 62mm x 45mm
Content width: 58mm
Sticker margins: 2mm each side (printing)
*/

.sticker {
    margin: 0 auto;
    padding: 1mm;
    padding-left: 1mm;
    padding-top: 3mm;
    width: 58mm;
    height: 43mm;
    font-family: Helvetica, Arial;
    font-size: 6pt;
    text-align: center;
    overflow: hidden;
}

.sticker .error {
    color: red;
    font-size: 8pt;
    z-index: 1000;
}

.sticker .barcode {
    margin: 0 auto;
    padding: 1mm 0 !important;
    text-align: center;
}

table.info-container {
    height: 43mm;
    border-collapse: collapse;
    font-size: 5pt;
    width: 100%;
}

table.info-container th {
    text-align: left;
    text-transform: none;
    border: 1pt solid #888;
    padding: 0.5mm;
}

table.info-container td {
    border: 1pt solid #888;
    padding: 0.5mm;
}

@media print {
    @page {
        size: 62mm 45mm !important;
        margin: 0mm !important;
    }

    html,
    body {
        width: 62mm !important;
        height: 45mm !important;
        margin: 0mm !important;
    }
}